
.container2{
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;

}
app-hidden-menu{
  width: 10%;
  text-align: center;
}
app-main-menu{
  width: 28%;
  text-align: center;
}
app-logo{
  width: 27%;
  text-align: center;
}
app-second-menu{
  width: 20%;
  text-align: center;
}
app-interactive-options{
  width: 6%;
  text-align: center;
  margin-right: 7%;
}
.main__image{
  width: 100%;
  height: auto;
}
hr{
  width: 100%;
  height: 2rem;
  background-color: #faedcd;
  margin-top: 0.7rem;
}
app-shared-footer{
  width: 100%;
}
app-main-header{
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
}

