<app-main-header></app-main-header>
<app-shopping-car class="modal" *ngIf="service.isVisibleShoppingCar"></app-shopping-car>
<section class="container">
  <app-hidden-menu></app-hidden-menu>
  <app-main-menu></app-main-menu>
  <app-logo></app-logo>
  <app-second-menu></app-second-menu>
  <app-interactive-options></app-interactive-options>

</section>
<img class="main__image" src="../../../assets/Image/imagen de inicio.png" alt="Imagen de inicio ">
<hr>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <app-card></app-card>
    </div>
    <div class="carousel-item">
      <app-card></app-card>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <app-shared-footer></app-shared-footer>
