/* You can add global styles to this file, and also import other style files */
/*@import "./app/scss/mixins";
@import "./app/scss/variables";*/

*{box-sizing: border-box;
margin: 0;
padding: 0%;
border: 0;
}
html,body,app-root{font-family: Arial, Helvetica, sans-serif;
margin: 0;
font-size: 16px;
height: 100%;

}
app-root{
  display: flex;
  flex-flow: column;

}
a{
  text-decoration: none;

}
@media (max-width:767px){}
